.button {
    display: block;
    padding: 15px 73px;
    @include font($size: 1.6rem, $height: 140%, $weight: 500);
    text-transform: uppercase;
    text-align: center;
    max-width: 298px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    @extend %transition;
    background-color: $color-primary;
    color: $color-font-header;
    @include media-tablet {
        @include font($size: 1.6rem, $height: 1.455rem, $weight: 500);
    }
    @include media-mobile {
        @include font($size: 1.1rem, $height: 1.455rem, $weight: 500);
        padding: 7.5px 10px;
            right: 4px;
    }
    &:hover {
        background-color: $color-hovered;
    }
}

.header__button {
    @include font($size: 1.6rem, $height: 2.117rem, $weight: 500);
    @include media-tablet {
        @include font($size: 1.1rem, $height: 1.455rem, $weight: 500);
    }
    @include media-mobile {
        display: none;
    }
}