.wrapper {
  width: 100%;
}

.infoWrapper {
  display: flex;
  flex-direction: column  ;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.title {
  font-size: 4rem;
}

.pageNumberTitle {
  font-size: 3rem;
}

.tableWrapper {
  width: 100%;
}

.buttonsWrapper {
  margin: 10px auto;
  display: flex;
  justify-content: center;
}