.header {
    position: relative;
    z-index: 2;
    background: $color-header;
    @include font(16px, 140%, 500);
    @extend %transition;
    @include media-small-desktop {
        max-height: 80px;
    }
    @include media-tablet {
        max-height: 34px;
        position: fixed;
        top: 0;
        width: 100%;
    }
    @include media-mobile {
        // width: 320px;
    }
    &__2-columns {
        @include media-mobile {
            flex-wrap: nowrap;
        }
    }
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 617px;
    width: 100%;
    align-items: center;
    padding: 14px 0;
    @include media-small-desktop {
        max-width: 576px;
    }
    @include media-tablet {
        padding: 3px 0 2px 0;
        align-items: center;
    }
}

.header__menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 472px;
    @extend %transition;
    @include media-small-desktop {
        max-width: 431px;
    }
}

.menu__list {
    @include columns(auto);
    width: 100%;
    @include media-tablet {
        display: none;
    }
}

.menu__link {
    color: $color-font-header;
    @extend %transition;
    &:hover {
        color: $color-hovered;
    }

}

.author {
    color: $color-font-header;
    @extend %transition;
    &:hover {
        color: $color-hovered;
    }
    @include media-tablet {
        display: none;
    }
}