.header {
    position: relative;
    z-index: 2;
    background: $color-header;
    @include font(16px, 140%, 500);
    @extend %transition;
    @include media-small-desktop {
        max-height: 80px;
    }
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 617px;
    width: 100%;
    align-items: center;
    padding: 14px 0;
    @include media-small-desktop {
        max-width: 576px;
    }
}

.header__menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 472px;
    @extend %transition;
    @include media-small-desktop {
        max-width: 431px;
    }
}

.menu__list {
    @include columns(auto);
    width: 100%;
}

.menu__link {
    color: $color-font-header;
    @extend %transition;
    &:hover {
        color: $color-hovered;
    }

}

.author {
    color: $color-font-header;
    @extend %transition;
    &:hover {
        color: $color-hovered;
    }
}