//colors
$color-primary-2: #6da2a7;
$color-primary-3: #0c6068;

$color-hovered: #6da2a7;
$color-bck: #2c7980;
$color-bck-additional: #004248;
$color-font-main: #bbc7c8;
$color-approved: #4b9200;
$color-mistake: #d31414;

//wrappers width
$wrapper-width: 1600px;
$content-width: 1160px;
$small-desktop-wrapper-width: 1000px;
$small-desktop-content-width: 940px;
$tablet-wrapper-width: 640px;
$tablet-content-width: 600px;
$mobile-wrapper-width: 320px;
$mobile-content-width: 300px;

//screen break points
$small-desktop-width: 1599px;
$tablet-width: 999px;
$mobile-width: 639px;
