.pets {
  height: 1106px;
  background: url('../images/palm_pfoto.png') no-repeat left bottom, url('../images/strelitzia.png') no-repeat right bottom;
  @include media-small-desktop {
    height: 1075px;
    background: url('../images/palm_foto_small.png') no-repeat left bottom, url('../images/strelitzia_small.png') no-repeat right bottom;

  }
}

.pets__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
}

.pets__container {
  flex-wrap: wrap;
  width: auto;
  margin: 0 20px;
  row-gap: 15px;
  column-gap: 27px;
  @include media-small-desktop {
    row-gap: 93px;
    column-gap: 30px;
  }
}

.pets-info__wrapper {
  height: 426px;
  position: relative;
  transition: 3s linear;
  border: 1px solid #FA6F32;
  border-radius: 5px;
  overflow: hidden;
  &:hover {
    cursor: pointer;
    .pets__img {
      background-size: 376px 376px;
      @include media-small-desktop {
        background-size: 303px 303px;
      }
    }
    .pets__food-icon {
      display: none;
    }
    .pets__info {
      @extend %transition;
      margin: 0;
      top: 0;
      left: 0;
      transform: translateY(0);
      position: absolute;
      width: 100%;
      max-width: 100%;
      height: 100%;
      justify-content: center;
      align-items: center;
      text-align: center;
      background-color: rgba($color: #000000, $alpha: 0.5);
      color: #FFFFFF;
    }
  }
  @include media-small-desktop {
    width: 293px;
    height: 354px;

  }
}

.pets__img {
  width: 366px;
  height: 366px;
  @include media-small-desktop {
    width: 293px;
    height: 293px;
  }
  background-size: 367px 367px;
  &-panda {
    transition: all 0.5s ease-in-out;
    background: url('../images/pets/pets_panda.jpg') no-repeat center;
    @include media-small-desktop {
      background-size: 293px 293px;
      background-position: center top;
    }
  }
  &-eagle {
    transition: all 0.5s ease-in-out;
    background: url('../images/pets/pets_eagle.jpg') no-repeat center;
    @include media-small-desktop {
      background-size: 293px 293px;
      background-position: top left;
    }
  }
  &-gorilla {
    transition: all 0.5s ease-in-out;
    background: url('../images/pets/pets_gorilla.jpg') no-repeat center;
    @include media-small-desktop {
      background-size: 293px 293px;
      background-position: top left;
    }
  }
  &-sloth {
    transition: all 0.5s ease-in-out;
    background: url('../images/pets/pets_sloth.jpg') no-repeat center;
    @include media-small-desktop {
      background-size: 293px 293px;
      background-position: top left;
    }
  }
  &-cheetah {
    transition: all 0.5s ease-in-out;
    background: url('../images/pets/pets_cheetah.jpg') no-repeat center;
    @include media-small-desktop {
      background-size: 293px 293px;
      background-position: top left;
    }
  }
  &-penguin {
    transition: all 0.5s ease-in-out;
    background: url('../images/pets/pets_penguin.jpg') no-repeat center;
    @include media-small-desktop {
      background-size: 293px 293px;
      background-position: top left;
    }
  }
}


.pets__info {
  position: absolute;
  left: 16px;
  top: 373px;
  width: 100%;
  display: flex;
  height: 430px;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 338px;
  @include media-small-desktop {
    left: 15px;
    top: 300px;
    max-width: 264px;
  }
}

.pets__title {
  @include font($size: 1.6rem, $height: 140%, $weight:500);
  text-transform: uppercase;
  margin-bottom: 2px;
  @include media-small-desktop {
    margin-bottom: 0;
  }
}

.pets__subtitle {
  @include font($size: 1.5rem, $height: 120%, $weight:300);
}


.vegan {
  background: url('../icons/banana-bamboo.svg') no-repeat;
  height: 37px;
  width: 33px;
}


.hunter {
  background: url('../icons/meet-fish.svg') no-repeat;
  height: 38px;
  width: 48px;
}

.pets__button {
  margin: auto;
  padding: 15px 0;
}

.arrow {
  padding-top: 7px;
  color: $color-font-header;
  width: 62px;
  height: 62px;
  border: none;
  border-radius: 50%;
  background-color: $color-primary;
  &:hover {
    @extend %transition;
    background-color: $color-hovered;
  }
  &:active {
    background-color: $color-clicked;
  }
  @include media-small-desktop {
    position: absolute;
    padding-top: 5.5px;
  }
  &-back {
    @include media-small-desktop {
      left: 352px;
    }
  }
  &-forward {
    @include media-small-desktop {
      right: 352px;
    }
  }
}