.testimonials {
  background: url('../images/leav_photo.png') no-repeat right bottom -135px;
  padding-bottom: 177px;
  @include media-small-desktop {
    padding-bottom: 141px;
    background-size: 195px 333px;
    background-position: right bottom -93px;
  }
  @include media-tablet {
    background: url('../images/leav_foto_tablet.png') no-repeat right bottom -70px;
    padding-bottom: 80px;
  }

  &__container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__h3 {
    margin-bottom: 50px;
    @include media-small-desktop {
      margin-bottom: 32px;
    }
    @include media-tablet {
      @include font($size: 3.6rem, $height: 130%, $weight:400);
    }
  }

  &__comments-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 34px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    @include media-small-desktop {
      margin-bottom: 55px;
    }
    @include media-tablet {
      flex-direction: column;
      margin-bottom: 26px;
    }
    &::-webkit-scrollbar {
      height: 6px;
      border-radius: 5px;
      @include media-tablet {
        height: 0;
      }
    }
    &::-webkit-scrollbar-track {
      background-color: #F5F7F6;
      margin: 0 280px 0 280px;
      border: 1px solid transparent;
      border-image: linear-gradient(315.75deg,#FEBDABBD, #F3A9F8A8, #E0D8F0, #EAF7FE, #EAF7FE);
      border-radius: 5px;
      border-image-slice: 1;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $color-primary;
      border-radius: 5px;
    }
  }

  &__button {
    align-self: start;
    padding: 15px 82px;
    background-color: $color-primary;
    border-radius: 5px;
    @include media-tablet {
      align-self: center;
      padding: 15px 55px;
    }
  }
}

.comment {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 268px;
  height: 391px;
  border-radius: 20px;
  background: $color-additional-gradient;
  scroll-snap-align: start;
  margin: 0 29px 21px 0;
  &:nth-of-type(3) {
    display: none;
  }
  @include media-small-desktop {
    width: 293px;
    &:nth-of-type(2) {
      display: none;
    }
    &:nth-of-type(3) {
      display: block;
    }
    @include media-tablet {
      max-width: 600px;
      width: 100%;
      height: 109px;
      margin: 0 auto 14px auto;
      &:nth-of-type(n+5) {
        display: none;
      }
    }
  }
  &:last-child {
    margin-right: 0;
  }
  &__wrapper {
    background-color: $color-comment-background;
    width: 100%;
    height: 100%;
    max-width: 264px;
    max-height: 387px;
    border-radius: 20px;
    overflow: hidden;
    margin: 2px 1px;
    @include media-small-desktop {
      max-width: 291px;
    }
    @include media-tablet {
      max-width: 596px;
      max-height: 105px;
    }
  }

  &__title-wrapper {
    margin: 12px 0 11px 16px;
    display: flex;
    align-items: center;
    @include media-tablet {
      margin: 10px 0 10px 10px;
    }
  }

  &__user-wrapper {
    display: flex;
    flex-direction: column;
  }

  &__avatar {
    width: 37px;
    height: 37px;
    background: url('../icons/user.svg');
    margin-right: 10px;
  }

  &__title {
    color: black;
    @include font($size: 1.6rem, $height: 120%, $weight:400);
  }

  &__location-wrapper {
    display: flex;
  }

  &__location {
    color: $color-comment-location;
    @include font($size: 1.5rem, $height: 120%, $weight:300);
    margin-right: 6px;
  }

  &__dot {
    margin-right: 6px;
    &::before {
      color: $color-comment-location;;
      position: relative;
      content: '.';
      top: -25%;
    }
  }

  &__date {
    color: $color-comment-location;
    @include font($size: 1.5rem, $height: 120%, $weight:300);
  }

  &__text {
    max-width: 235px;
    max-height: 309px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: $color-font-additional;
    @include font($size: 1.5rem, $height: 120%, $weight:300);
    margin-left: 16px;
    @include media-small-desktop {
      max-width: 257px;
      max-height: 291px;
    }
    @include media-tablet {
      max-width: 555px;
      max-height: 38px;
    }
  }
}

.user {
  &__1 {
    background: url('../comments/oskar_samborsky.png');
  }

  &__2 {
    background: url('../comments/fredericka_michelin.png');
  }

  &__3 {
    background: url('../comments/mila_riksha.png');
  }
}