//for fonts
$icomoon-font-family: "online-zoo_icons" !default;
$icomoon-font-path: "../fonts" !default;

$icon-logo: "\e902";
$icon-alligator: "\e900";
$icon-back_arrow: "\e901";
$icon-cheetah_small: "\e904";
$icon-dollar: "\e909";
$icon-eagle: "\e90a";
$icon-forward_arrow: "\e90d";
$icon-gorilla: "\e90e";
$icon-hand: "\e90f";
$icon-insta: "\e910";
$icon-minus: "\e915";
$icon-monkey: "\e916";
$icon-open_arrow: "\e917";
$icon-panda: "\e918";
$icon-pay: "\e919";
$icon-penguin_small: "\e91a";
$icon-plus: "\e91b";
$icon-sloth_small: "\e91c";
$icon-user: "\e91f";



//colors
$color-primary: #F9804B;
$color-hovered: #E47209;
$color-active: #4B9200;
$color-heading: #FFEE2E;
$color-main-gradient: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
$color-additional-gradient:linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
$color-mistake: #D31414;
$color-font-main:#333B41;
$color-font-additional:#767474;
$color-font-additional-light:#BDBDBD;




//device-width
$content-width: 1200px;
$tablet-width: 850px;
$tablet-small-width: 550px;
$mobile-big-width: 390px;
$mobile-small-width: 380px;

