.wrapper {
  background-color: teal;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.carInputWrapper {
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.buttonsWrapper {
  width: 300px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}