.feed {
  background: $color-main-gradient;

  &__img-wrapper {
    background-color: #283035;
  }
  &__img {
    margin: auto;
    height: 386px;
    width: 100%;
    max-width: 1600px;
    background-image: url('../images/donate/panda_bg.jpg');
    background-repeat: no-repeat;
    background-position-x: center;
    &-wrapper {
      @include media-tablet {
        margin-top: 33px;
      }
    }
    @media (max-width: 1000px) {
      background-position-x: -170px;
      height: 390px;
    }
    @include media-tablet {
      height: 335px;
      background-image: url('../images/donate/panda_bg_tablet.jpg');
      background-position-x: center;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__title {
    color: #FFFFFF;
    @include font($size: 3.6rem, $height: 130%, $weight:400);
    margin: 40px auto 10px auto;
    @include media-small-desktop {
      max-width: 780px;
      margin: 40px 0 30px 0;
    }
    @include media-tablet {
      @include font($size: 2.4rem, $height: 120%, $weight:400);
      margin: 30px 0 20px 0;
    }
  }

  &__subtitle {
    color: #FFFFFF;
    @include font($size: 1.6rem, $height: 140%, $weight:500);
    margin-bottom: 44px;
    @include media-tablet {
      margin-bottom: 30px;
    }
  }

  &__text {
    text-align: center;
    color: $color-font-main;
    @include font($size: 1.6rem, $height: 140%, $weight:400);
  }
}

.donation__title {
  margin: 0 0 60px 0;
  color: $color-primary;
  @include font($size: 3.6rem, $height: 130%, $weight:400);
  @include media-small-desktop {
    margin-bottom: 40px;
  }
  @include media-tablet {
    margin-bottom: 28px;
  }
}

.donation {
  &__wrapper {
    background: rgba(255, 255, 255, 0.52);
    border-radius: 20px;
    padding: 40px 96px 62px 90px;
    margin-bottom: 180px;
    @include media-small-desktop {
      padding: 21px 44px 47px 47px;
      margin-bottom: 28px;
    }
    @include media-tablet {
      padding: 0;
      padding-bottom: 30px;
      margin-bottom: 46px;
    }
  }

  &__title-h2 {
    color: $color-primary;
    @include font($size: 4.8rem, $height: 120%, $weight:400);
    text-align: center;
    margin-bottom: 20px;
    @include media-small-desktop {
      margin-bottom: 12px;
      margin-right: 20px;
    }
    @include media-tablet {
      margin: 29px 0 21px 0;
    }
  }

  &__subtitle {
    color: $color-font-main;
    @include font($size: 2.4rem, $height: 120%, $weight:400);
    margin-bottom: 110px;
    @include media-tablet {
      text-align: center;
      margin-bottom: 100px;
    }
  }

  &__animal-wrapper {
    display: flex;
    align-items: center;
    margin-left: 217px;
    margin-bottom: 42px;
    @include media-small-desktop {
      margin-left: 154px;
    }
    @include media-tablet {
      margin-left: 30px;
      margin-bottom: 39px;
    }
  }

  &__count {
    text-align: center;
    color: $color-font-main;
    @include font($size: 1.6rem, $height: 140%, $weight:400);
    margin-right: 10px;
  }

  &__days-count {
    color: #000000;
    @include font($size: 7.2rem, $height: 111%, $weight:500);
  }

  &__animal-ico {
    font-size: 195px;
    margin-top: 6px;
    color: #000000;
  }
}

.x-ico {
  background-image: url('../icons/x_icon.svg');
  width: 14px;
  height: 14px;
  margin-top: -15px;
  margin-right: 64px;
}

.donation-calc {

  &__wrapper {
    margin-bottom: 30px;
    position: relative;
    @include media-tablet {
      width: 600px;
    }
  }

  &__title {
    margin-bottom: 6px;
    @include media-tablet {
      margin-left: 10px;
      margin-bottom: -8px;
      line-height: 140%;
    }
  }

  &__form {
    margin-bottom: 88px;
    &::before {
      content: "";
      z-index: 2;
      background: #72828e;
      height: 2px;
      width: 900px;
      position: absolute;
      top: 51px;
      left: 40px;
      @include media-small-desktop {
        width: 770px;
        left: 20px;
      }
      @include media-tablet {
        width: 510px;
        left: 45px;
        top: 39px;
      }
    }
  }

  &__form2 {
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
  }

  @include media-small-desktop {
    max-width: 810px;
    margin: auto;
  }
}

.donation-amount-slider {
  display: flex;
  align-content: stretch;
  position: relative;
  width: 100%;
  height: 50px;
  user-select: none;
  @include media-small-desktop {
    & label:nth-of-type(1) {
      display: none;
    }
    @include media-tablet {
      & label:nth-of-type(2) {
        display: none;
      }
      & label:nth-of-type(3) {
        display: none;
      }
    }
  }

  &::before {
    content: "";
    position: absolute;
    height: 27px;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #404950;
    border-radius: 2px;
  }
  input, label {
    box-sizing: border-box;
    width: 130px;
    user-select: none;
    cursor: pointer;
  }
  label {
    display: inline-block;
    position: relative;
    height: 100%;
    user-select: none;
    &::before {
      content: attr(donation-amount);
      left: 27%;
      position: absolute;
      max-width: 70px;
      text-align: end;
      padding-top: 7px;
      transform: translate(-50%, 45px);
      @include font($size: 2.6rem, $height: 140%, $weight:500);
      transition: all 0.15s ease-in-out;
    }
    &::after {
      content: "";
      position: absolute;
      display: block;
      left: 27%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 10px;
      height: 10px;
      background: #FFEE2E;
      border-radius: 50%;
      user-select: none;
      z-index: 3;
      transition: all 0.15s ease-in-out;
      @include media-small-desktop {
        left: 12%;
      }
    }
    @include media-small-desktop {
      &:nth-of-type(3) {
        &::after {
          left: 17px;
        }
      }
      &:nth-of-type(4) {
        &::after {
          left: 19px;
          @include media-tablet {
            left: 40px;
          }
        }
        &::before {
          left: 21px;
          @include media-tablet {
            left: 44px;
          }
        }
      }
      &:nth-of-type(5) {
        &::after {
          left: 20px;
          @include media-tablet {
            left: 40px;
          }
        }
        &::before {
          left: 28px;
          @include media-tablet {
            left: 44px;
          }
        }
      }
      &:nth-of-type(6) {
        &::after {
          left: 22px;
          @include media-tablet {
            left: 40px;
          }
        }
        &::before {
          left: 31px;
          @include media-tablet {
            left: 42px;
          }
        }
      }
      &:nth-of-type(7) {
        &::after {
          left: 23px;
          @include media-tablet {
            left: 40px;
          }
        }
        &::before {
          left: 23px;
          @include media-tablet {
            left: 35px;
          }
        }
      }

    }
    &:last-of-type {
      width: 40px;
      @include media-tablet {
        width: 77px;
      }
      &::after {
        left: 88%;
        @include media-small-desktop {
          left: 63%;
          @include media-tablet {
            left: 40px;
          }
        }
      }
      &::before {
        left: 55%;
        @include media-small-desktop {
          left: 65%;
          @include media-tablet {
            left: 37px;
          }
        }
      }
    }
    &:hover::after {
      cursor: pointer;
    }
	}
  input {
    display: none;
    &:checked {
      + label::before {
        color: $color-primary;
      }
      ~ #debt-amount-pos {
        opacity: 1;
      }
      @for $i from 1 through $number-of-options {
        &:nth-child(#{$i * 2 - 1}) ~ #debt-amount-pos {
          display: block;
          left: #{130 * $i - 130 + 35 + 'px'};
        }
      }
      @include media-small-desktop {
        @for $i from 1 through $number-of-options-small-desktop {
          &:nth-child(#{$i * 2 - 1}) ~ #debt-amount-pos {
            display: block;
            left: #{130 * $i - 280 + 35 + 'px'};
          }
        }
      }
      @include media-tablet {
        @for $i from 1 through $number-of-options-small-desktop {
          &:nth-child(#{$i * 2 - 1}) ~ #debt-amount-pos {
            display: block;
            left: #{130 * $i - 515 + 35 + 'px'};
          }
        }
      }
    }
  }
  #debt-amount-pos {
    display: none;
    position: absolute;
    top: 50%;
    left: 35px;
    width: 40px;
    height: 40px;
    background: url('../icons/roller_icon.svg') no-repeat;
    transition: all 0.15s ease-in-out;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
	&:valid {
		#debt-amount-slider {
			input {
				+ label::before {
					transform: translate(-50%, 10px) scale(0.9);
					transition: all 0.15s linear;
				}
				&:checked + label::before {
					transform: translate(-50%, 10px) scale(1.1);
					transition: all 0.15s linear;
				}
			}
		}
	}
  &__cache {
    display: block;
    position: relative;
    width: 268px;
    margin-left: 20px;
    height: 54px;
    border: 1px solid #929699;
    border-radius: 2px;
    padding: 16px 0 16px 9px;
    @include font(1.6rem, 140%, 500);
    color: #000000;
    background-color: transparent;
    @include media-tablet {
      width: 180px;
      margin-left: 10px;
      height: 43px;
      padding: 16px 0 16px 5px;
    }

    &-wrapper {
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      margin-bottom: 25px;
      @include media-tablet {
        margin-bottom: 31px;

      }
    }

    &-icon {
      display: block;
      position: relative;
      &::after {
        content: url('../icons/dollar_donate.svg');
        width: 10px;
        height: 20px;
        position: relative;
        top: 3px;
        right: 20px;
      }
    }
    
    &::placeholder {
      color: #929699;
      @include font($size: 1.6rem, $height: 140%, $weight:500);
    }
    &:focus {
      outline: none;
      border: 1px solid #D31414;
      color: #D31414;
      &:invalid {
        border: 1px solid #D31414;
        color: #D31414;
        & ~.footer__submit{
          border: 1px solid #D31414;
          color: #D31414;
          }
      }
      &:valid {
        border: 1px solid #4B9200;
        color: $color-clicked;
        & ~.footer__submit {
          border: 1px solid #4B9200;
          color: $color-clicked;
        }
      }
    }
    
  }

}

.feed-type-wrapper {
  display: flex;
  margin: 0 auto 30px auto;
  max-width: 196px;
  width: 100%;
  label:first-of-type {
    margin-right: 50px;
    @include media-small-desktop {
      margin-left: -10px;
      margin-right: 50px;
    }
  }
  input {
    @extend %transition;
    position: absolute;
    z-index: -1;
    opacity: 0;
    &+label {
      cursor: pointer;
      display: inline-flex;
      align-items: center;
      user-select: none;
    }
    &+label::before {
      cursor: pointer;
      content: '';
      display: inline-block;
      width: 15px;
      height: 15px;
      flex-shrink: 0;
      flex-grow: 0;
      border: 1px solid $color-primary;
      border-radius: 50%;
      margin-right: 10px;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 50% 50%;
    }
    &:checked+label::before {
      background-color: $color-primary;
    }
  }
}

.donate-form__submit {
  @extend %transition;
  max-width: 298px;
  width: 100%;
  @include font($size: 1.6rem, $height: 140%, $weight:500);
  text-transform: uppercase;
  display: block;
  margin: auto;
  padding: 16px 39px;
  background-color: $color-primary;
  border-radius: 25px;
  color: $color-font-header;
  border: 1px solid transparent;
  &:hover {
    background-color: $color-hovered;
  }
  @include media-small-desktop {
    margin-bottom: 28px;
  }
}