.wrapper {
  background-color: teal;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
}

.controlWrapper {
  display: flex;
  align-items: center;
  & button {
    background-color: rgb(166, 174, 180);
    padding: 5px 10px;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid teal;
    &:first-of-type {
      margin-right: 5px;
    }
    &:hover {
      background-color: white;
      transition: 0.5s all ease;
    }
  }
}

.carName {
  color: white;
}

.controlButtonsWrapper {
  margin: 10px 10px 10px 0;
}

.rangeWrapper {
  display: flex;
  min-width: 100%;
  border-bottom: 7px dotted black;
  margin-bottom: 10px;
}

.engineControlWrapper {
  margin-right: 10px;
  & button {
    background-color: rgb(166, 174, 180);
    padding: 5px 10px;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid teal;
    &:first-of-type {
      margin-right: 5px;
    }
    &:hover {
      background-color: white;
      transition: 0.5s all ease;
    }
  }
}

.iconFinishFlag {
  margin-left: auto;
  margin-right: 120px;
}

