.wrapper {
  background-color: teal;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
}

.controlWrapper {
  display: flex;
  align-items: center;
}

.carName {
  color: white;
}

.controlButtonsWrapper {
  margin: 10px 10px 10px 0;
}

.rangeWrapper {
  display: flex;
  min-width: 100%;
  border-bottom: 7px dotted black;
  margin-bottom: 10px;
}

.engineControlWrapper {
  margin-right: 10px;
}

.iconFinishFlag {
  margin-left: auto;
  margin-right: 120px;
}

